.header {
    @include posA(0, 0, 0);
    z-index: 10;
}

.nav {
    padding: 20px 0;
    @include flex($jc: space-evenly);
    flex-wrap: wrap;
    color: $secondary-color;

    @media screen and (min-width: 768px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @media screen and (min-width: 992px) {
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.toggler {
    z-index: 10;
    @include flex($jc: center);
    padding: 10px;
    width: calc(#{$social-size} + 20px);
    height: calc(#{$social-size} + 10px);

    @media screen and (min-width: 992px) {
        display: none;
    }

    span, span:before, span:after {
        width: $social-size;
        height: 3px;
        background-color: $secondary-color;
    }

    span {
        @include tr;
        position: relative;

        &:before, &:after {
            content: '';
            @include posA;
        }

        &:before {
            top: -15px;
            transition: transform .3s ease-in, top .3s linear .3s;
        }

        &:after {
            top: 15px;
            transition: transform .3s ease-in, top .3s linear .3s;
        }

        .menu-opened & {
            background-color: transparent;
        }

        .menu-opened &:before {
            transform: rotate(45deg);
            top: 0;
            transition: top .3s linear, transform .3s ease-in .3s;
        }

        .menu-opened &:after {
            transform: rotate(-45deg);
            top: 0;
            transition: top .3s linear, transform .3s ease-in .3s;
        }
    }
}

.menu {
    @include posA(0, 0, 0, 0);
    z-index: 5;
    height: 100vh;
    @include flex($jc: center);
    flex-direction: column;
    background-color: rgba($primary-color, .9);
    opacity: 0;
    transform-origin: calc(100% - 15px) 15px;
    transform: translate(0, 0) scale(.1);
    @include tr(.5s);
    .menu-opened & {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }

    @media screen and (min-width: 992px) {
        position: relative;
        background-color: transparent;
        flex-direction: row;
        flex-grow: 1;
        height: auto;
        justify-content: space-evenly;
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
        /* IE10+ specific styles go here */ 
        justify-content: space-around;
    }

    &__item {
        .menu-opened & {
            margin: 10px;
        }
    }

    &__link {
        display: inline-block;
        padding: 1em;
        position: relative;
        text-transform: uppercase;
        @include font(GothamBook, 1.4rem);
        @include tr;
        @include hover {
            text-shadow: $border-width 0 $secondary-color;
        }

        .menu-opened & {
            padding: .1em;
            font-size: 1.3em;

            @media screen and (min-width: 375px) {
                // font-size: 1em;
            }

            &:before {
                display: none;
            }
        }

        &--active:before {
            background-color: $secondary-color;
        }

        &:hover:before {
            background-color: $secondary-color;
            @include tr;
        }

        &:before {
            content: '';
            @include posA(38%, $left: -15%);
            display: inline-block;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            border: $border-width solid $secondary-color;
            @include tr;
        }
    }
}

.menu-opened {
    height: 100%;
    width: 100%;
    position: fixed; // for ios
    overflow: hidden;
}